.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F9FAFF;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  text-align: center;
}

.login-box label {
  text-align: left;
  font-size: 14px;
}

.login-box input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-box button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}